:root {
    /* Variable Declaration */
    --bg-darker: #141617;
    --bg-dark: #1d2021;

    --bg1: #282828;
    --bg2: #32302f;
    --bg3: #3a3735;
    --bg4: #45403d;
    --bg5: #5a525c;
    
    --fg1: #ddc7a1;
    --fg2: #d4be98;

    --orange: #e78a4e;
    --yellow: #d8a657;
    --green:  #a9b665;
    --aqua:   #89b482;
    --blue:   #7daea3;
    --purple: #d3869b;
    --red:    #ea6962;


    /* Default Backgrond */
    background-color: var(--bg1, #000000);

}
* {
    /* Default Foreground */
    color: var(--fg1, #ffffff);
    font-family: 'CaskaydiaCove Nerd Font';
    font-weight: regular;
}
/*<pre> is used to indicate whitespace significance (so that multiline works), <code> is used to signify any instance of code */
code, pre {
    font-weight: regular;
    font-size: 95%;
    background-color: var(--bg1);
}
pre {
    padding: 8px;
    border-radius: 6px;
    max-height: 350px;
}
code {
    padding: 3px 4px;
    border-radius: 4px;
}
pre code {
    /* this makes non-multi-line <code> have padding without messing up multi-line <pre><code> blocks. */
    padding: 0px;
}
body {
    margin: 0;
    padding: 0;
}
::selection {
    background-color:  #4f422e;
}

/* Custom Font */
@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: local('CaskaydiaCove Nerd Font Complete SemiLight') format('opentype'),
        url('/fonts/Caskaydia Cove Nerd Font Complete SemiLight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: local('CaskaydiaCove Nerd Font Complete Regular') format('opentype'),
        url('/fonts/Caskaydia Cove Nerd Font Complete Regular.otf') format('opentype');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: local('CaskaydiaCove Nerd Font Complete SemiBold') format('opentype'),
        url('/fonts/Caskaydia Cove Nerd Font Complete SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: local('CaskaydiaCove Nerd Font Complete Bold') format('opentype'),
        url('/fonts/Caskaydia Cove Nerd Font Complete Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: local('CaskaydiaCove Nerd Font Complete Italic') format('opentype'),
        url('/fonts/Caskaydia Cove Nerd Font Complete Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: local('CaskaydiaCove Nerd Font Complete Bold Italic') format('opentype'),
        url('/fonts/Caskaydia Cove Nerd Font Complete Bold Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
/* sudo cp /usr/local/share/fonts/CaskaydiaCove/Caskaydia\ Cove\ Nerd\ Font\ Complete\ Mono\ Regular.otf ~/Code/bvngeecord.com-v2/public/fonts */