---
import PageContainer from "../components/PageContainer.astro";
import BasePageLayout from "../layouts/BasePageLayout.astro";
---

<BasePageLayout title="About">
    <PageContainer>
        <h1 id="about-title">About Me</h1>
        <div id="about-card">
          <p>
              I'll put something real here soon, I swear.


              In the meantime: I'm 17yo, planning to attend UCSC for CS in the fall. 
              Maybe when I write a resume for the first time that can go here. :P
          </p>
        </div>
    </PageContainer>
</BasePageLayout>
<style>
    #about-title {
        margin: 0 10px;
        /* text-shadow: 2px 4px 9px rgba(0,0,0,0.4); */
    }
    #about-card {
        padding: 15px;
        margin: 20px 0px;
        background-color: var(--bg2);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    }
    #about-card :first-child {
        margin-top: 0;
    }
    #about-card :last-child {
        margin-bottom: 0;
    }
</style>

