---
import PageContainer from '../components/PageContainer.astro';
import BasePageLayout from '../layouts/BasePageLayout.astro';
---

<BasePageLayout title="About">
	<PageContainer>
		<h1 id="about-title">About Me</h1>
		<div id="about-card">
			<div id="text-wrapper">
				<p>Coming soon, I swear.</p>
			</div>
		</div>
	</PageContainer>
</BasePageLayout>
<style>
	#about-title {
        margin: 0 0 0 10px;
		/* text-shadow: 2px 4px 9px rgba(0,0,0,0.4); */
	}
	#about-card {
		padding: 8px 10px;
		margin: 20px 0px;
        background-color: var(--bg2);
        border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
	}
	#text-wrapper {
		text-align: justify;
		margin: -10px 5px;
	}
</style>