---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import BlogContentContainer from "../components/BlogContentContainer.astro";
import { getCollection } from "astro:content";
import PageContainer from "../components/PageContainer.astro";

const blogPosts = await getCollection("blog");

const finalBlogPosts = blogPosts
    .filter((p) => !p.data.draft)
    .sort(
        (a, b) =>
            b.data.publishedDate!.unix -
            a.data.publishedDate!.unix,
    );

const lastUpdatedDate = finalBlogPosts[0]?.data.publishedDate;
---

<BasePageLayout title="Blogs">
    <PageContainer>
        <div id="header">
            <h1 id="header-title">Blogs</h1>
            <div id="header-latest-date">Latest: {lastUpdatedDate!.longFormat}</div>
        </div>
        {
            finalBlogPosts.map((p) => (
                <div id="blog-card">
                    <div id="blog-card-label">
                        <h2 id="blog-title">
                            <a href={p.slug}>{p.data.title}</a>
                        </h2>
                        <h id="blog-date">{p.data.publishedDate!.longFormat}</h>
                    </div>
                    <div id="blog-content">
                        <BlogContentContainer post={p} />
                    </div>
                </div>
            ))
        }
    </PageContainer>
</BasePageLayout>
<style>
    #header {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }
    #header-latest-date {
        min-width: max-content;
        margin: 0 0 4px 20px;
        align-self: flex-end;
        color: var(--fg2);
        opacity: 80%;
    }
    #header-title {
        margin: 0;
    }
    #blog-card {
        background-color: var(--bg2);
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
        transition-property: transform;
        transition-duration: 0.25s;
    }
    #blog-card:hover {
        transform: scale(1.016) translateZ(0);
        backface-visibility: hidden;
    }
    #blog-card-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2px;
    }
    #blog-title {
        margin: -2px 0 0 2px;
        text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.4);
        max-width: 75%;
    }
    #blog-date {
        padding: 5px;
        font-size: 14px;
        color: var(--gray2);
    }
    #blog-title > a:hover {
        color: var(--aqua);
    }
    #blog-title > a {
        text-decoration: none;
        color: var(--blue);
    }
    #blog-hrs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #blog-hrs * {
        width: 3%;
        margin: 0;
        height: 4px;
        color: var(--aqua);
        background-color: var(--aqua);
        border-radius: 2px;
    }
    #blog-content {
        display: block;
        white-space: normal;
        overflow: hidden;
        text-overflow: clip;
        max-height: 210px;
        margin: 5px 5px 0 5px;

        -webkit-mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.01),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.9)
        );
        mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.01),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.85)
        );
    }
</style>
