---
import PageContainer from '../components/PageContainer.astro';
import BasePageLayout from '../layouts/BasePageLayout.astro';
---
<BasePageLayout title="Home">
	<PageContainer>
		<div id="container">
			<div class="box">
				<div class="text-wrapper">
					<h2>Who am I?</h2>
					<p>I'm just another random who loves tech, maybe like you!</p>
				</div>
			</div>
			<div class="box">
				<div class="text-wrapper">
					<h2>Title</h2>
					<p>example text blah blah</p>
				</div>
			</div>
			<div class="box">
				<div class="text-wrapper">
					<h2>Other Places</h2>
					<p>example text blah blah</p>
				</div>
			</div>
		</div>
	</PageContainer>
</BasePageLayout>
<style>
	#container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.box {
		background-color: var(--bg2);
		padding: 8px 10px;
		margin: 10px 10px;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
	}
	.box:nth-of-type(1) {
		grid-column: 1;
	}
	.box:nth-of-type(2) {
		grid-column: 2;
	}
	.box:nth-of-type(3) {
		
	}
	.text-wrapper {
		text-align: justify;
		margin: -10px 5px;
	}
</style>