---
import PageContainer from '../components/PageContainer.astro';
import SocialLinkPreview from '../components/SocialLinkPreview.astro';
import SoftwareIconShield from '../components/SoftwareIconShield.astro';
import BasePageLayout from '../layouts/BasePageLayout.astro';
---
<BasePageLayout title="Home">
	<PageContainer>
		<h1 id="home-title">Hi, I'm BvngeeCord!</h1>
		<div class="box" id="who">
			<h2>Who?</h2>
			<p>
				I'm BvngeeCord, another guy on the internet who loves tech. In my free time you'll likely find me programming, playing minecraft, ricing Linux, 
				or learning about computers. I bike here and there, and love to walk in the rain :) Check out <a id="blogs-link" href='/blogs/'>some blogs</a>
				or read some more <a id="about-link" href='/about/'>about me</a>.
			</p>
		</div>
		<div class="box" id="what">
			<h2>What?</h2>
			<p>Some projects and things:</p>
			<ul>
			<li><a target="_blank" rel="noopener noreferrer" href="https://discord.gg/94EYHt8qgw">Oracle SMP</a>: my technical Minecraft server (redstone, farms, blah blah nerd stuff). Running since April 2021</li>
				<li>My <a target="_blank" rel="noopener noreferrer" href="https://github.com/BvngeeCord/.dotfiles/tree/main">ArchLinux</a> and <a target="_blank" rel="noopener noreferrer" href="https://github.com/BvngeeCord/nixconf/tree/main">NixOS</a> configurations: a journey into Linux, learning how computers and OSs work, and trying to build the perfect dev environment (forever almost there...)</li>
				<li><a target="_blank" rel="noopener noreferrer" href="https://github.com/BvngeeCord/BvngeeAddons">BvngeeAddons</a>: my personal set of client-side mods for Minecraft (screenshot helper, improved boss bar rendering, etc)</li>
				<li><a target="_blank" rel="noopener noreferrer" href="https://github.com/BvngeeCord/bvngeecord.com">bvngeecord.com</a>: this website! A fun exploration into how the web (frontend + backend) works</li>
				<li>A plethora of <a target="_blank" rel="noopener noreferrer" href="https://github.com/BvngeeCord?tab=repositories&type=source">other projects</a> on GitHub: hackathons, AOCs, scripts, other Minecraft mods, etc</li>
				<li>A bunch non-digital nerd stuff (LEGO Technic things)</li>
			</ul>
		</div>
		<div class="box" id="how">
			<!-- uses simpleicons.org, and devicon.dev -->
			<h2>How?</h2>
			<p>Languages I like <em>and/or</em> know: </p>
			<div class="icon-card-wrapper">
				<SoftwareIconShield name="Rust" color="000000" slug="rust" />
				<SoftwareIconShield name="Java" color="3776AB" slug="oracle" />
				<SoftwareIconShield name="Nix" color="5277C3" slug="nixos" />
				<SoftwareIconShield name="Lua" color="2C2D72" slug="lua" />
				<SoftwareIconShield name="Python" color="3776AB" slug="python" />
				<SoftwareIconShield name="Bash" color="4EAA25" slug="gnubash" />
				<SoftwareIconShield name="HTML" color="E34F26" slug="html5" />
				<SoftwareIconShield name="CSS" color="1572B6" slug="css3" />
				<SoftwareIconShield name="JavaScript" color="3776AB" slug="javascript" />
				<!-- <SoftwareIconShield name="Markdown" color="000000" slug="markdown" /> -->
			</div>
			<p>Things I use:</p>
			<div class="icon-card-wrapper">
				<SoftwareIconShield name="Neovim" color="57A143" slug="neovim" />
				<SoftwareIconShield name="Linux" color="FCC624" slug="linux" />
				<SoftwareIconShield name="Firefox" color="FF7139" slug="firefoxbrowser" />
				<SoftwareIconShield name="Wayland" color="FFBC00" slug="wayland" />
				<SoftwareIconShield name="Docker" color="2496ED" slug="docker" />
				<SoftwareIconShield name="Nginx" color="009639" slug="nginx" />
				<SoftwareIconShield name="Astro" color="FF5D01" slug="astro" />
				<!-- <SoftwareIconShield name="Blender" color="FF7139" slug="blender" /> -->
			</div>
			<p>What I'd like to learn more: </p>
			<div class="icon-card-wrapper">
				<SoftwareIconShield name="C" color="A8B9CC" slug="c" />
				<SoftwareIconShield name="C++" color="00599C" slug="cplusplus" />
				<SoftwareIconShield name="Zig" color="F7A41D" slug="zig" />
				<SoftwareIconShield name="Rust" color="000000" slug="rust" />
				<SoftwareIconShield name="Nix" color="5277C3" slug="nixos" />
				<SoftwareIconShield name="Nginx" color="009639" slug="nginx" />
				<!-- <SoftwareIconShield name="CSS" color="1572B6" slug="css3" /> -->
			</div>
		</div>
		<div class="box" id="where">
			<h2>Where?</h2>
			<p>Some places to find me:</p>
			<div class="icon-card-wrapper">
				<!-- use http://www.google.com/s2/favicons?domain=www.example.com if the default doesn't work, like with Discord -->
				<SocialLinkPreview title="GitHub" href="https://www.github.com/BvngeeCord/" favicon="https://www.github.com/favicon.ico" />
				<SocialLinkPreview title="Discord" href="https://www.discordapp.com/users/BvngeeCord#2251" favicon="https://www.google.com/s2/favicons?domain=www.discord.com" />
				<SocialLinkPreview title="Email" href="https://mailto:nystromjp@gmail.com" favicon="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" />
				<SocialLinkPreview title="YouTube" href="https://www.youtube.com/@BvngeeCord/" favicon="https://www.youtube.com/favicon.ico" />
				<SocialLinkPreview title="Reddit" href="https://www.reddit.com/u/BvngeeCord/" favicon="https://www.reddit.com/favicon.ico" />
				<SocialLinkPreview title="Spotify" href="https://open.spotify.com/user/9hhagw1x0v5mrioqkcvejlyke" favicon="https://www.google.com/s2/favicons?domain=www.spotify.com " />
			</div>
		</div>
	</PageContainer>
</BasePageLayout>
<style>
	#home-title {
        margin: 0 10px 20px 10px;
		/* text-shadow: 2px 4px 9px rgba(0,0,0,0.4); */
	}
	.box {
		padding: 15px;
		border-radius: 10px;
		background-color: var(--bg2);
		box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
		margin: 20px 0;
	}
	.box > h2 {
		margin: 0;
	}
	.box :last-child {
		margin-bottom: 0;
	}
	a#blogs-link {
		text-decoration-color: var(--blue);
	}
	a#about-link {
		text-decoration-color: var(--orange);
	}
	.icon-card-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 8px;
		margin-top: -8px;
		margin-bottom: 20px;
	}
	ul {
		padding-left: 28px;
	}
	li {
		margin: 16px 0;
	}
	#technologies {
		background-color: var(--bg1);
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		margin: 0px 0px 18px 0px;
		padding: 2px;
	}

</style>
