---
import PageContainer from "../components/PageContainer.astro";
import SocialLinkPreview from "../components/SocialLinkPreview.astro";
import SoftwareIconShield from "../components/SoftwareIconShield.astro";
import BasePageLayout from "../layouts/BasePageLayout.astro";

// @ts-ignore-next-line
const lastCommitHash = LAST_COMMIT_HASH;
// @ts-ignore-next-line
const timeOfLastCommit = TIME_OF_LAST_COMMIT;
---

<!-- prettier-ignore -->
<BasePageLayout title="Home">
    <PageContainer>
        <h1 id="home-title">Hi, I'm Jack!</h1>
        <div class="box" id="who">
            <h2>Who?</h2>
            <p>
                A software developer, Linux & neovim user, NixOS addict, and
                Computer Science student at UC Santa Cruz. I'm interested in all
                things technology but especially systems programming and low
                level software. I love learning about how things work! When I'm
                not on my computer I also occasionally mountain bike, play
                tennis, and enjoy the sun :P
                <br><br>
                I go by bvngee
                <a
                    href="#where"
                    style="color: unset; text-decoration-color: var(--gray2);"
                >on the internet</a>.

            </p>
        </div>
        <div class="box" id="what">
            <h2>What?</h2>
            <p>Nowadays most of my time is spent in 
                <a href="https://formulaslug.com/">Formula Slug</a>'s lab space working
                on a variety of projects from live telemetry radio
                communication, to data visualization, embedded programming, and PCB
                debugging. Eventually I will write more about it on this site :)
            </p>
            <p>Here are a bunch of other projects I care about, past and present:</p>
            <ul>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/Bvngee/nixconf/tree/main">NixOS config</a>: 
                    my journey into Linux, learning how OS's work from the bottom up, and my descent into madness trying to build the perfect dev environment
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/Bvngee/SAR">SAR project</a>: 
                    I helped construct/organize my highschool's brand new electronics class,
                    consisting of <i>tons</i> of fun research, building, embedded programming,
                    and debugging. This is the result of that!
                </li>
                <li>
                    This website! (<a target="_blank" rel="noopener noreferrer" href="https://github.com/Bvngee/bvngee.com">src</a>):
                    Written and hosted completely from scratch (using only Astro, nginx, and some bash). No preexisting integrations/deployments, manual SSL, etc
                    (see <a href="/blogs/website-explanation">this blog post</a>). Learning a little about how the web works, the fun way :)
                </li> 
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/Bvngee/BvngeeAddons">BvngeeAddons</a>: 
                    my personal set of client-side fixes & features for Minecraft,
                    including screenshot management utils, improved boss bar
                    rendering, bug fixes, and more! Made purely for myself
                    to resolve my own annoyances with the game.
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.curseforge.com/minecraft/mc-mods/coordinate-mod">CoordinateMod</a> 
                    and <a target="_blank" rel="noopener noreferrer" href="https://www.curseforge.com/minecraft/mc-mods/anti-auto-jump">AntiAutoJump</a>: 
                    my first two Minecraft mods, at somewhere around 16k total downloads (released in 2020@age 13)
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/94EYHt8qgw">Oracle SMP</a>: 
                    my technical Minecraft server (redstone, farms, automation, etc - all the nerdy stuff). Running since April 2020
                </li>
                <li>
                    A bunch of other stuff (see <a target="_blank" rel="noopener noreferrer" href="https://github.com/Bvngee?tab=repositories&type=source">GitHub</a>): 
                    hackathons, AOCs, scripts, other Minecraft mods, and more
                </li>
            </ul>
        </div>
        <div class="box" id="how">
            <h2>How?</h2>
            <div class="how-flexbox">
                <div class="language-icons-section">
                    <p>Things I've used a lot:</p>
                    <div class="icon-card-wrapper">
                        <!-- Badges from simpleicons.org (no longer used - fully custom now), icons from shields.io. also devicon.dev as a backup -->
                        <!-- Determine colors using ../../get_language_color.sh (which uses github-linguists) --> 
                        <!-- TODO: replace all these with NF icons via icon update branch? -->
                        <SoftwareIconShield name="Java" color="#b07219" slug="" />
                        <SoftwareIconShield name="Nix" color="#7e7eff" slug="nixos" />
                        <SoftwareIconShield name="Lua" color="#000080" slug="lua" />
                        <SoftwareIconShield name="Rust" color="#dea584" slug="rust" />
                        <SoftwareIconShield name="C++" color="#f34b7d" slug="cplusplus" />
                        <SoftwareIconShield name="Python" color="#3572A5" slug="python" />
                        <SoftwareIconShield name="Bash" color="#89e051" slug="gnubash" />
                        <SoftwareIconShield name="Astro" color="#ff5a03" slug="astro" />
                        <SoftwareIconShield name="CSS" color="#563d7c" slug="css" />
                        <SoftwareIconShield name="JavaScript" color="#f1e05a" slug="javascript" />
                        <SoftwareIconShield name="TypeScript" color="#3178c6" slug="typescript" />
                        <SoftwareIconShield name="React" color="#61dafb" slug="react" />
                    </div>
                    <p>What I'm actually interested in:</p>
                    <div class="icon-card-wrapper">
                        <SoftwareIconShield name="C" color="#555555" slug="c" />
                        <SoftwareIconShield name="C++" color="#f34b7d" slug="cplusplus" />
                        <SoftwareIconShield name="Zig" color="#ec915c" slug="zig" />
                        <SoftwareIconShield name="Rust" color="#dea584" slug="rust" />
                        <!-- <SoftwareIconShield name="Nix" color="#7e7eff" slug="nixos" /> -->
                    </div>
                </div>

                <!-- Until GitHub implements something like -->
                <!-- https://github.com/orgs/community/discussions/18230#discussioncomment-14514129, -->
                <!-- this is too innacurate. -->
                <!-- <div class="most-used-languages"> -->
                <!--     <img src={ -->
                <!--         "https://github-readme-stats.bvngee.com/top-langs?" -->
                <!--             + "username=Bvngee" -->
                <!--             + "&theme=dark" -->
                <!--             + "&langs_count=10" -->
                <!--             + "&hide=typst" -->
                <!--             + "&layout=compact" -->
                <!--             + "&hide_border=true" -->
                <!--             + "&bg_color=00000000" -->
                <!--             + "&text_color=ddc7a1ee" // TODO: make this css var(--fg1) -->
                <!--             + "&title_color=ddc7a1ee" -->
                <!--     } alt="Most Used Languages" /> -->
                <!-- </div> -->
            </div>
            <!-- <div style="margin: 1.5em 0" /> --> <!-- Meh -->
            <div class="other-icons-section">
                <p>Other things I use:</p>
                <div class="icon-card-wrapper">
                    <SoftwareIconShield name="Linux" color="#FCC624" slug="linux" />
                    <SoftwareIconShield name="Neovim" color="#57A143" slug="neovim" />
                    <SoftwareIconShield name="Wayland" color="#FFBC00" slug="wayland" />
                    <SoftwareIconShield name="Firefox" color="#FF7139" slug="firefoxbrowser" />
                    <SoftwareIconShield name="Docker" color="#2496ED" slug="docker" />
                    <!-- <SoftwareIconShield name="Nginx" color="#009639" slug="nginx" /> -->
                </div>
            </div>
        </div>
        <div class="box" id="where">
            <h2>Where?</h2>
            <p>Some places you can find me:</p>
            <div class="icon-card-wrapper">
                <!-- use http://www.google.com/s2/favicons?domain=www.example.com if the default doesn't work, like with Discord -->
                <SocialLinkPreview
                    title="GitHub"
                    href="https://www.github.com/Bvngee/"
                    favicon="https://www.github.com/favicon.ico"
                />
                <SocialLinkPreview
                    title="Email"
                    href="mailto:nystromjp@gmail.com"
                    favicon="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico"
                />
                <SocialLinkPreview
                    title="YouTube"
                    href="https://www.youtube.com/@Bvngee/"
                    favicon="https://www.youtube.com/favicon.ico"
                />
                <SocialLinkPreview
                    title="Reddit"
                    href="https://www.reddit.com/u/BvngeeCord/"
                    favicon="https://www.reddit.com/favicon.ico"
                />
                <SocialLinkPreview
                    title="Discord"
                    href="https://www.discordapp.com/users/484519672235163648"
                    favicon="https://www.google.com/s2/favicons?domain=www.discord.com"
                />
                <SocialLinkPreview
                    title="Spotify"
                    href="https://open.spotify.com/user/9hhagw1x0v5mrioqkcvejlyke"
                    favicon="https://www.google.com/s2/favicons?domain=www.spotify.com "
                />
            </div>
        </div>
        <a id="commit-time" href={"https://github.com/Bvngee/bvngee.com/commit/" + lastCommitHash}>
            <span class="icon">󰊤 </span>
            <span 
                id="commit-time-text"
                data-time-of-last-commit={timeOfLastCommit}
                data-last-commit-hash={lastCommitHash}
            >
                Calculating...
            </span>
        </a>
   </PageContainer>
</BasePageLayout>



<script>
    function timeSince(date: Date) {
        const seconds = Math.floor((+new Date() - +date) / 1000);
        let intervalType;
        let interval = Math.floor(seconds / 31536000);
        if (interval >= 1) {
            intervalType = "year";
        } else {
            interval = Math.floor(seconds / 2592000);
            if (interval >= 1) {
                intervalType = "month";
            } else {
                interval = Math.floor(seconds / 86400);
                if (interval >= 1) {
                    intervalType = "day";
                } else {
                    interval = Math.floor(seconds / 3600);
                    if (interval >= 1) {
                        intervalType = "hour";
                    } else {
                        interval = Math.floor(seconds / 60);
                        if (interval >= 1) {
                            intervalType = "minute";
                        } else {
                            return "less than a minute";
                        }
                    }
                }
            }
        }
        if (interval > 1 || interval === 0) {
            intervalType += "s";
        }
        return interval + " " + intervalType;
    }

    const commit = document.getElementById("commit-time-text");
    const timeOfLastCommit = commit?.dataset.timeOfLastCommit;
    const lastCommitHash = commit?.dataset.lastCommitHash;
    if (timeOfLastCommit !== undefined && lastCommitHash !== undefined) {
        commit!.innerText =
            "Last updated " +
            timeSince(new Date(parseInt(timeOfLastCommit))) +
            " ago (" +
            lastCommitHash.substring(0, 7) +
            ")";
    } else {
        commit!.innerHTML = "???";
    }
</script>

<style>
    #home-title {
        margin: 0 10px 20px 10px;
        /* text-shadow: 2px 4px 9px rgba(0,0,0,0.4); */
    }
    .box {
        padding: 15px;
        border-radius: 10px;
        background-color: var(--bg2);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
        margin: 20px 0;
    }
    .box > h2 {
        margin: 0;
    }
    /* Hack; without the :is() too much gets selected but just 
     * having first-level last-child doesn't get everything */
    .box :is(p, h2, ul, li, .icon-card-wrapper):last-child {
        margin-bottom: 0;
    }
    .box a {
        text-decoration-color: var(--blue);
        color: var(--blue);
    }
    .icon-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin-top: -8px;
        margin-bottom: 20px;
    }
    ul {
        /* make bullets a little closer to left wall of box */
        padding-left: 2em;
    }
    li {
        /* add a little vertical space between bullets */
        margin: 0.5em 0;
    }
    .how-flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }
    .language-icons-section {
        flex: 1 1 20em;
        margin-bottom: 1em;
    }
    .other-icons-section {
        flex: 1 1 20em;
    }
    /* .most-used-languages { */
    /*     flex: 0 0 auto; */
    /*     justify-content: center; */
    /*     height: min-content; */
    /*     align-self: center; */
    /*     margin: 0 1.5em; */
    /* } */
    /* .most-used-languages > img { */
    /*     background-color: var(--bg-dark); */
    /*     border-radius: 6px; */
    /*     box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px; */
    /* } */
    #commit-time {
        color: var(--gray2);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        margin-top: -10px;
        text-decoration: none;
    }
    #commit-time .icon {
        font-size: 20px;
        font-family: "CaskaydiaCove Nerd Font";
        margin: 14px;
    }
</style>
