---
import PageContainer from "../../components/PageContainer.astro";
import BasePageLayout from "../../layouts/BasePageLayout.astro";

const glob = import.meta.glob("./**/index.html", { as: "html", eager: false });
// chapter number, url, pretty name
const pageMap: [number, string, string][] = Object.keys(glob).map((path) => {
    const trimmedPath = path.replace(/^\.\/(.+)\/index.html$/, "$1");
    return [
        parseInt(path.match(/\d+/)![0]),
        Astro.url.pathname + trimmedPath,
        trimmedPath.replaceAll("_", " "),
    ];
});
pageMap.sort((a, b) => a[0] - b[0]);
---

<BasePageLayout title="Home">
    <PageContainer>
        <div class="wrapper">
            <h1>AP Chemistry Notes - 2024</h1>
            <p>
                These are my personal Chem notes taken throughout Mr. Place's AP
                Chemistry class at Albany High School in 2024 (my senior year of
                highschool). May they be of use to someone somehow!
                <br />
            </p>
            <ul>
                {
                    pageMap.map(([_, url, name]) => (
                        <>
                            <li>
                                <a href={url}>{name}</a>
                            </li>
                        </>
                    ))
                }
            </ul>
            <p>
                Converted to html by reuploading all the downloaded .docx files
                to back google docs (where they were originally written) and
                redownloading as html, then filtering and cleaning up the html
                manually. Pandoc failed no matter what backends/formats I had it
                use; I assume this is because of google docs weirdness. This got
                me <em>pretty close</em> tho, so I'll leave it here:
                <br />
                <!-- prettier-ignore -->
                <code>for f in ./*; do pandoc -s --mathml --embed-resources $f -o "html/$(echo $f | sed 's/.docx/.html/')"; done</code>
            </p>
        </div>
    </PageContainer>
</BasePageLayout>

<style>
    .wrapper {
        text-align: center;
    }
    ul {
        padding-left: 28px;
        list-style-position: inside;
    }
    li {
        margin: 16px 0;
        font-size: 110%;
    }
</style>
