---
import Header from "../components/Header.astro";
---

<Header />
<main id="page-container">
    <slot />
</main>
<style>
    #page-container {
	/* TODO: nav is restricted by body when overflowing horizontally*/
        padding: 25px 1rem;
        /* width: min(1000px, max(100%, 500px) - 1.5rem); */
        width: min(1000px, max(100%, 500px) - 2rem);
        margin-inline: auto;
    }
</style>
