---
import Header from "../components/Header.astro";

interface Props {
    children: any; // enforce <slot> being filled
};
---

<Header />
<main id="page-container">
    <slot />
</main>
<style>
    #page-container {
        padding: 25px 0.5rem;
        width: min(1000px, max(100%, 300px) - 1rem);
        margin-inline: auto;

        /* width: min(1000px, max(100%, 500px) - 1.5rem); // old */
    }
</style>
