---
import Header from '../components/Header.astro';
---

<Header />
<main id="page-container">
    <slot />
</main>
<style>
	#page-container {
		margin: 25px 0;
		width: min(1000px, 100% - 1.5rem);
		margin-inline: auto;
	}
</style>
