---
import PageContainer from '../../components/PageContainer.astro';
import BasePageLayout from '../../layouts/BasePageLayout.astro';
import BlogStyles from '../../styles/BlogStyles.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const blogs = await getCollection('blog');
    return blogs.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BasePageLayout title={entry.data.title}>
    <PageContainer>
        <div id="header">
            <h1 id="blog-title">{entry.data.title}</h1>
            <h id="blog-date">{entry.data.publishedDate}</h>
        </div>
        <div id="blog-card">
            <div id="blog-content">
                <Content />
                <BlogStyles />
            </div>
        </div>
    </PageContainer>
</BasePageLayout>
<style>
    #header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    #blog-title {
        flex-grow: 0;
        margin: 0 0 0px 0;
        text-shadow: 2px 4px 9px rgba(0,0,0,0.4);
    }
    #blog-date {
        min-width: max-content;
        margin: 0 0 4px 20px;
        align-self: flex-end;
        font-weight: lighter;
        color: var(--fg2)
    }
    #blog-card {
        padding: 8px 10px;
        margin: 20px 0px;
        background-color: var(--bg2);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    }
    #blog-content {
        margin: -10px 5px;
    }
</style>