---
import PageContainer from "../../components/PageContainer.astro";
import BasePageLayout from "../../layouts/BasePageLayout.astro";

const glob = import.meta.glob("./*.html");
// chapter number, url, pretty name
const pageMap: [number, string, string][] = Object.keys(glob).map((s) => [
    parseInt(s.match(/\d+/)![0]),
    Astro.url.pathname + s.substring(2),
    s.replace(/^\.\/(.+).html$/, "$1").replaceAll("_", " "),
]);
pageMap.sort((a, b) => a[0] - b[0]);
---

<BasePageLayout title="Home">
    <PageContainer>
        <div class="wrapper">
            <h1>AP Chemistry Notes - 2024</h1>
            <p>
                These are my personal Chem notes taken throughout Mr. Place's AP
                Chemistry class at Albany High School in 2024 (my senior year of
                highschool). May they be of use to someone somehow!
                <br />Converted from docx to html with
                <br />
                <!-- prettier-ignore -->
                <code>for f in ./*; do pandoc -s --embed-resources $f -o "html/$(echo $f | sed 's/.docx/.html/')"; done</code>
            </p>
            <ul>
                {
                    pageMap.map(([_, url, name]) => (
                        <>
                            <li>
                                <a href={url}>{name}</a>
                            </li>
                        </>
                    ))
                }
            </ul>
        </div>
    </PageContainer>
</BasePageLayout>

<style>
    .wrapper {
        text-align: center;
    }
    ul {
        padding-left: 28px;
        list-style-position: inside;
    }
    li {
        margin: 16px 0;
        font-size: 110%;
    }
</style>
